.table-container {
  width: 100%;
  overflow: auto;
  margin: 16px 0 24px;
}

.add-department-button {
  display: block;
}

.delete-mode-toggle-container {
  margin: 16px 0 24px;
  display: flex;
  justify-content: flex-end;
}