td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  padding-left: 16px;
  background: linear-gradient(90deg, #fff 75%, transparent);
}

td:last-child {
  white-space: nowrap;
  text-align: right;
}

td {
  border-bottom: 1px solid rgba(0,0,0,.12);
  height: 48px;
  box-sizing: border-box;
}

.editable-cell {
  width: 48px;
  padding: 0;
  background: none;
  outline: none;
  border: none;
}

.price-cell {
  width: 48px;
}

.amount-cell {
  width: 72px;
}

.selection {
  height: 36px;
  min-width: 96px;
  max-width: 30vw;
  border: none;
  outline: none;
  color: rgba(0,0,0,.87);
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  cursor: pointer;
}

button.hidden {
  display: none;
}
