.template-form,
.client-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.template-form {
  padding: 16px 8px;
  max-width: 600px;

  mat-slide-toggle[formcontrolname="split"] {
    align-self: flex-start;
    margin: 8px 0;
  }

  .format-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
  }
}
