<form class="template-form" [formGroup]="templateForm" (ngSubmit)="onSubmit()">
  <h2 class="mat-h2">{{title}}</h2>
  <div class="client-form" formGroupName="client">
    <mat-form-field>
      <mat-label>Client name</mat-label>
      <input matInput formControlName="name" required="">
      <mat-error>Client name is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Client address</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Template name</mat-label>
    <input matInput formControlName="name" required="">
    <mat-error>Template name is required.</mat-error>
  </mat-form-field>

  <mat-slide-toggle formControlName="split">
    Split
  </mat-slide-toggle>

  <div class="paper-size-selector">
    Paper size
    <mat-button-toggle-group formControlName="_paper_size">
      <mat-button-toggle value="short">Short</mat-button-toggle>
      <mat-button-toggle value="long">Long</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <button type="submit" mat-flat-button color="primary">{{submitLabel}}</button>
</form>
