<div class="paginator">
  <div class="mat-caption">Page:
    <input class="paginator-textbox" (keyup.enter)="blur($event)" [formControl]="pageControl"> of {{pages}}</div>
  <div class="paginator-arrows">
    <button type="button" class="paginator-button" mat-icon-button (click)="previousPage()" [disabled]="firstPage"><mat-icon>chevron_left</mat-icon></button>
    <button type="button" class="paginator-button" mat-icon-button (click)="nextPage()" [disabled]="lastPage"><mat-icon>chevron_right</mat-icon></button>
  </div>
</div>
