.sticky-footer {
  position: sticky;
  bottom: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(transparent 10%,#fff 20%);

  * {
    margin-left: 8px;
  }
  
  mat-form-field {
    width: 96px;
  }

  input, label {
    color: currentColor;
  }
}
