<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav class="sidenav"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 (click)="mobileQuery.matches ? snav.close() : null"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list dense>
        <div mat-subheader>Navigation</div>
        <a class="app-nav-list-item"
           *ngFor="let link of navLinks()"
           mat-list-item
           [routerLink]="link.path"
           routerLinkActive="app-nav-list-active"
           [routerLinkActiveOptions]="{ exact: !!link.exact }">
           <mat-icon mat-list-icon class="sidenav-icon">{{link.icon}}</mat-icon>
         {{link.label}}
       </a>
       <a [routerLink]="" *ngIf="isLoggedIn()" class="app-nav-list-item" mat-list-item (click)="logout()">
         <mat-icon mat-list-icon class="sidenav-icon">logout</mat-icon>
         LOGOUT
       </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="app-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
