.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-is-mobile .app-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.app-name {
  box-sizing: border-box;
  margin-left: 8px;
}

.app-content {
  padding: 16px 24px;
}

.sidenav { 
  min-width: 240px;
  padding-right: 8px;
  .app-nav-list-item {
    border-radius: 0 24px 24px 0;
    overflow: hidden;
    .sidenav-icon {
      color: rgba(0,0,0,.54);
      margin-right: 16px;
    }
  }
  .app-nav-list-active {
    font-weight: bold;
    background-color: #e3eefd;
    color: rgba(0,0,0,.87);
  }
}

.app-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.app-is-mobile .app-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

::ng-deep button[mat-flat-button][type="submit"] {
  margin: 8px 0;
}
