<form class="example-form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Template</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <button type="button" mat-icon-button (click)="myControl.setValue('')" matSuffix>
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      autoActiveFirstOption>
      <mat-option *ngFor="let template of filteredTemplates | async" [value]="template">
        {{template.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-flat-button 

   color="accent">
    <mat-icon>add</mat-icon>
    NEW BILLING
  </button>
</form>

<app-paginator></app-paginator>

<div class="table-container">
  <table mat-table [dataSource]="billings">

    <ng-container matColumnDef="template-name" sticky>
      <th mat-header-cell *matHeaderCellDef> Template </th>
      <td mat-cell *matCellDef="let billing">
        <a [routerLink]="billing._id.$oid">{{templateName(billing.template_id) || 'Blank Template'}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="client-name">
      <th mat-header-cell *matHeaderCellDef> Client Name </th>
      <td mat-cell *matCellDef="let billing"> {{billing.client_name}} </td>
    </ng-container>

    <ng-container matColumnDef="start-date">
      <th mat-header-cell *matHeaderCellDef> Start </th>
      <td mat-cell *matCellDef="let billing"> {{billing.start_date | date}} </td>
    </ng-container>

    <ng-container matColumnDef="end-date">
      <th mat-header-cell *matHeaderCellDef> End </th>
      <td mat-cell *matCellDef="let billing"> {{billing.end_date | date}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let billing"> {{billing.total | number:'1.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let billing; let i = index">
        <button mat-icon-button color="accent" (click)="downloadSheet(billing)">
          <mat-icon>file_download</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(billing, i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<app-paginator></app-paginator>
