.table-container {
  width: 100%;
  overflow-x: auto;

  table {
    min-width: 600px;
    width: 100%;

    th.mat-column-template-name,
    td.mat-column-template-name {
      padding-left: 8px;
      a {
        text-decoration: none;
        color: #3f51b5;
      }
    }

    th.mat-column-total,
    td.mat-column-total {
      text-align: right;
    }

    th.mat-column-actions,
    td.mat-column-actions {
      white-space: nowrap;
      width: 20px;
    }

    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
      padding-right: 0px;
    }
  }
}
