<div class="period-container" [formGroup]="period">
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="dateRangePicker">
      <input matStartDate formControlName="start_date" placeholder="Start date">
      <input matEndDate formControlName="end_date" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
  </mat-form-field>
  <app-multi-date-range-picker></app-multi-date-range-picker>
  <app-period-departments [period_departments]="period_departments"></app-period-departments>
</div>
  