<ng-container [formGroup]="formGroup">
  <td>
    <select class="item-selection selection" formControlName="item">
      <option *ngFor="let item of items" [value]="item['_id']['$oid']">{{item.name}}</option>
    </select>
  </td>
  <td>
    <select class="schedule-selection selection" formControlName="days">
      <optgroup *ngFor="let group of scheduleGroups" [label]="group.label">
        <option *ngFor="let schedule of group.days" [value]="schedule">{{schedule}}</option>
      </optgroup>
    </select>
  </td>
  <td>
    <input type="number" class="editable-cell" formControlName="quantity" min="1" placeholder="1">
  </td>
  <td>
    <input type="number" class="editable-cell price-cell" formControlName="price" min="0" [placeholder]="price()">
  </td>
  <td>
    <button mat-icon-button (click)="onSave()" [disabled]="formGroup.pristine"><mat-icon>save</mat-icon></button>
  </td>
</ng-container>
